---
import MainLayout2 from "../layouts/MainLayout2.astro";
---

<MainLayout2>
  <div class="wrapper_about">
    <div class="text_box">
      <p>Cultural Experiences</p>
      <p>Japanese Nature</p>
      <p>Festive Activities</p>
    </div>
    <h1>Sakura Festival</h1>
    <img src="" alt="" />
    <div class="info_boxes">
      <div>
        <h2>Concept</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae temporibus optio reiciendis totam aspernatur ipsum accusantium sint aliquam, cumque iste magnam magni ipsam est fugiat enim, accusamus, laborum recusandae nam.</p>
      </div>
      <div>
        <h2>Vision</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae temporibus optio reiciendis totam aspernatur ipsum accusantium sint aliquam, cumque iste magnam magni ipsam est fugiat enim, accusamus, laborum recusandae nam.</p>
      </div>
      <div>
        <h2>Culture</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae temporibus optio reiciendis totam aspernatur ipsum accusantium sint aliquam, cumque iste magnam magni ipsam est fugiat enim, accusamus, laborum recusandae nam.</p>
      </div>
    </div>
    <div class="img_grid">
      <img src="" alt="" />
      <img src="" alt="" />
      <img src="" alt="" />
      <img src="" alt="" />
    </div>
  </div>
</MainLayout2>
<style>
  body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(img/background.png);
    background-size: cover;
  }
  .wrapper_about {
    margin: 7%;
  }
  h1 {
    font-size: 4rem;
    text-align: right;
  }
  h2 {
    font-size: 2rem;
    font-style: italic;
  }
  .text_box {
    text-transform: uppercase;
    font-size: 2rem;
  }
  .info_boxes {
    display: flex;
    text-align: center;
    font-size: 1.2rem;
    gap: 2rem;
  }
</style>
