---
import MainLayout2 from "../layouts/MainLayout2.astro";
---

<MainLayout2>
  <div class="wrapper_about">
    <div class="text_box">
      <p>Cultural Experiences</p>
      <p>Japanese Nature</p>
      <p>Festive Activities</p>
    </div>
    <h1>Sakura Festival</h1>
    <img src="img/sakura1.jpg" alt="sakurabillede" />
    <div class="info_boxes">
      <div>
        <h2>Concept</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae temporibus optio reiciendis totam aspernatur ipsum accusantium sint aliquam, cumque iste magnam magni ipsam est fugiat enim, accusamus, laborum recusandae nam.</p>
      </div>
      <div>
        <h2>Vision</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae temporibus optio reiciendis totam aspernatur ipsum accusantium sint aliquam, cumque iste magnam magni ipsam est fugiat enim, accusamus, laborum recusandae nam.</p>
      </div>
      <div>
        <h2>Culture</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae temporibus optio reiciendis totam aspernatur ipsum accusantium sint aliquam, cumque iste magnam magni ipsam est fugiat enim, accusamus, laborum recusandae nam.</p>
      </div>
    </div>
    <div class="img_grid">
      <div class="col_2">
        <img src="img/sakura2.png" alt="sakura2" />
        <img src="img/tree.jpg" alt="tree" />
      </div>
      <img class="span_2_col" src="img/lamper.jpg" alt="" />
      <img class="span_2_row" src="img/vifte.jpg" alt="" />
    </div>
  </div>
  <div class="grid-container">
    <div class="grid-item square">
      <img src="img/sakura2.png" />
    </div>
    <div class="grid-item square">
      <img src="img/tree.jpg" />
    </div>
    <div class="grid-item wide">
      <img src="img/lamper.jpg.jpg" />
    </div>
    <div class="grid-item tall">
      <img src="img/vifte.jpg.jpg" />
    </div>
  </div>
</MainLayout2>
<style>
  body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(img/background.png);
    background-size: cover;
  }

  .wrapper_about {
    margin: 7%;
  }
  h1 {
    font-size: 4rem;
    text-align: right;
  }
  h2 {
    font-size: 2rem;
    font-style: italic;
  }
  .text_box {
    text-transform: uppercase;
    font-size: 2rem;
  }
  .info_boxes {
    display: flex;
    text-align: center;
    font-size: 1.2rem;
    gap: 2rem;
  }
  img {
    width: 100%;
    object-fit: cover;
    display: block;
    max-height: 300px;
    overflow: hidden;
    margin: 1rem;
  }
  .img_grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .col_2 {
    display: flex;
  }
  .span_2_col {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    max-height: fit-content;
  }
  .span_2_row {
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
    max-height: fit-content;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 10px;
  }

  .grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .square {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
  }

  .wide {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
  }

  .tall {
    grid-row: 1 / span 2;
    grid-column: 2 / span 1;
  }
</style>
