---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="splash_tekst">
    <h1>Sakura Festival Copenhagen</h1>
    <h2>Spring 2023</h2>
  </div>
</MainLayout>
<style>
  body {
    background-image: url(img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .splash_tekst {
    text-align: center;
    color: #fff;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
    font-style: italic;
  }
</style>
