---
import MainLayout2 from "../layouts/MainLayout2.astro";
import Button from "../components/Button.astro";
---

<MainLayout2>
  <div class="wrapper_program">
    <div class="intro">
      <h1>Sakura Festival Program 2023</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nihil aut amet tenetur itaque, rerum ratione veniam expedita asperiores molestiae excepturi autem iste quam totam aperiam illum alias animi! Consequatur.</p>
    </div>
    <h2 class="navigation">Music / Talks / Events / Performances</h2>
    <h3>Program Saturday 22/04 2023</h3>
    <div class="program_grid">
      <div class="program_element">
        <img src="img/square.jpg" alt="" />
        <h3>Titel på program element</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae rem, nostrum perspiciatis voluptas necessitatibus quisquam magni adipisci reprehenderit qui quaerat impedit atque sit culpa dicta! Provident eum autem ab alias?</p>
        <Button />
      </div>
    </div>
  </div>
</MainLayout2>

<style>
  body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(img/background.png);
    background-size: cover;
  }
  .intro {
    text-align: center;
    color: #000;
    padding: 5%;
    border: solid 2px #000;
    margin: 10%;
  }
  h1 {
    font-size: 3rem;
  }
  .intro p {
    font-style: italic;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 2;
    font-size: 1rem;
  }
  h2.navigation {
    text-align: center;
    color: #58110d;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
    text-align: center;
  }
  .program_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .program_element {
    margin: 1rem;
  }
  
</style>
