---
---

<button><a href="element_side" class="rectangular-button">Read More</a></button>
<style>
  .rectangular-button {
    background-color: #a7b8c9; /* Set the background color */
    border: none; /* Remove the border */
    color: white; /* Set the text color */
    padding: 10px 20px; /* Set the padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make it display as a block element */
    font-size: 16px; /* Set font size */
    margin: 10px; /* Add margin */
    cursor: pointer; /* Add a pointer cursor on hover */
  }
</style>
