---
---

<footer>
  <div class="container">
    <p>2023 My Website</p>
  </div>
</footer>

<style>
  footer {
    position: fixed;
    bottom: 0;
    background-color: #a7b8c9;
    padding: 2rem 0;
    text-align: center;
    font-size: 14px;
    color: #777;
    width: 100%;
  }

  .container {
    margin: auto;
    margin-bottom: sticky;
  }
</style>
