---
---

<header>
  <nav>
    <div class="logo">
      <a href="/" aria-label="Hjem"><img class="logo" src="img/logo.png" alt="logo" /></a>
    </div>
    <ul class="nav-links bold uppercase">
      <li><a class="nav-link" href="program">Program</a></li>
      <li><a class="nav-link" href="about">About</a></li>
    </ul>
  </nav>
</header>
<style>
  /* links og header-styling*/
  .logo {
    width: 30%;
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    place-items: center;
  }

  .nav-links {
    display: flex;
    gap: clamp(2rem, 1.2353rem + 3.1373vw, 5rem);
    place-items: center;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  a {
    color: #000;
    text-decoration: none;
  }

  li a:hover {
    border-bottom: solid #000;
  }
  .bold {
    font-weight: bold;
  }
  .uppercase {
    text-transform: uppercase;
  }

  .hide {
    display: none;
  }
</style>
